@model thietbiphatsang.tb_BaiViet
@{
    ViewBag.Title = "thongtin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Open Content -->
<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="~/Areas/Quantri/Content/img/sanpham/@Model.tb_ThietBi.tb_AnhThietBi.FirstOrDefault().strAnh"alt="Card image cap" id="product-detail">
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">@Model.strTieuDe</h1>
                        <p class="h3 py-2">@Model.tb_ThietBi.floatGia</p>
                        <h6>Nội dung:</h6>
                           <p>@Model.strNoiDung</p>
                        <form action="" method="GET">
                            <input type="hidden" name="product-title" value="Activewear">
                            <div class="row">
                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item text-right">
                                            Số lượng
                                            <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                        </li>
                                        <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                        <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                        <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col d-grid">
                                    <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Mua</button>
                                </div>
                                <div class="col d-grid">
                                    <button type="button" onclick="AddToCart('@Model.strMaThietBi')" class="btn btn-success btn-lg" name="submit" value="addtocard">Thêm vào giỏ hàng</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Content -->
<!-- Start Article -->

<!-- End Article -->
